* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
   
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding: 20px;
}
.container h1{
    text-align:center;
    margin: 20px 0px;
    margin-top: 20px;
    font-size: 3rem;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.card{
    width:32%;
    position: relative;
    margin-bottom: 20px;
    border-radius:10px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    

}
.card :hover{
    transform: scale(1.05);
    transition: 0.5s;
    filter: drop-shadow(0 0 20px #333);
}
.card:hover img{
    filter: grayscale(0%);
}
.card figcaption {
    opacity: 0;
    position:absolute;
    bottom: 0;
    left: 0;
    padding:25px;
    border-radius: 0px 0px 10px 10px ;
    width: 100%;
    height: 20%;
    background:linear-gradient(0 deg,rgba(0,0,10,10)0%,rgba(255,255,255,0)100%);
    font-size: 20px;
    font-weight: 500;
    color: azure;
    transition: 0.3s;

}
.card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);
}
